@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 160%;
}

header {
    background-color: orangered;
    position: sticky;
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 40%;
}

main {
    position: relative;
    width: 80%;
    margin-inline: auto;
    margin-block: 5%;
}

.container-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    display: block;
}

.items {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
    flex-wrap: wrap;
    
}

.preferito {
    position: absolute;
    right: 0;
    border: 1px solid black;

}

.sconto {  
    background-color: red;   
    border: 10px;
    width: 40px;
    position: absolute;
    bottom: 30%;
    left: 0;
    text-align: center;
   }

.color-green {  
    background-color: green;   
    border: 10px;
    width: 100px;
    /*position: absolute;
    bottom: 30%;
    left: 30%;
    text-align: center;*/
   }

   .color-red {
    color: red;
   }

   .line-through {
    color: lightgray;
    text-decoration: line-through;
   }


